body {
    background-color: black;
    color:white
}

#seletor {

    background-color: orange;
    color:black
}

#calculador {

    background-color: red;
    color:black
}
#titulo {

    background-color: yellow;
    color:black
}
#f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8 {

    background-color: red;
    color:black
}

#opcoes {
    background-color: green;
    color:black

}

